/*CSS for google-homepage project*/

body {
    background-color:rgb(250, 246, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}

a{
    font-style: normal;
    text-decoration: none;
    color: #2c2c2c;
}

a:hover{
    text-decoration: underline;
}

#test{
    background-color: ;
}

#upper-nav{
    display: grid;
    grid-template-columns: auto 50px 50px 50px;
    grid-column-gap: 8px;
    justify-items: right;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    font-size: 12px;
    margin-top: 10px;
}

#icon{
    border-radius: 50%;
}

#main-contents{
    position: relative;
    margin: 0 auto; 
    height: auto;
    background-color: ;
    padding-bottom: 100px;
}

#google-header{
    padding: 100px 0px 20px 0px;
    margin: 0 auto;
    width: max-content;
    height: max-content;
}

#search-area{
    display: block;
    margin: 0 auto;
    width: 700px;
    height: auto;
    background-color: ;
    position: relative;
}

#search-bar{
    display: flex;
    align-items: center;
    border-radius: 24px;
    border: 1px solid;
    height: 36px;
}

#search-bar:hover{
    box-shadow: 2px 2px 5px rgba(44, 43, 48, 0.3);
}

#search-form{
    position: inherit;
    width: 640px;
    height: 20px;
    padding-left: 5px;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

#search-form:focus{
    outline: none;
}

#magnifying-glass{
    padding: 3px 10px 7px 8px;
    width: 20px;
    height:20px;
    opacity: 0.7;
}
#google-button-group{
    display: flex;
    justify-content: center;
    background: ;
    height: 70px;
    padding-top: 20px;
    margin: 0 auto;

}
.google-button{
    padding: 10px 40px;
    margin: 0 5px;
    height: 50px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    border: 1px solid rgb(167, 167, 167);
    font-size: 13px;
}

.google-button:hover{
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 7px rgba(44, 43, 48, 0.4);
    cursor: pointer;
}

#dataprivacy-checkup{
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 140px;
}

#dataprivacy-checkup img{
    height: 70px;
    padding: 0 10px;
}

#dataprivacy-checkup span{
    color: rgb(107, 107, 107);
    padding: 0 20px 0 0px;
}

#languages-offered{
    display: flex;
    justify-content: center;
    font-size: 11px;
}
#languages-offered a{
   color:rgb(24, 47, 179);
   padding: 0 0 0 10px;
}

footer{
    position:relative;
    bottom: 0;
    background-color: chocolate;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 12px;
}

#footer-1{
    display: block;
    padding: 15px 10px 15px 20px;
}
#footer-2-3{
     display: flex;
     justify-content: center;
     padding: 15px 10px 15px 20px;
     border-top: 1px solid black;

}


@media only screen and (max-width: 699px){
    #search-area{
        width: 90%;
    }

    #magnifying-glass{
        z-index: 2;
        width: 36px;
        padding-left: 10px;
    }
}
