[Desktop Entry]
Version=1.0
Type=Link
Name=https://www.google.com.ph/intl/en/about/products?tab=wh
Comment=
Icon=user-bookmarks
URL=https://www.google.com.ph/intl/en/about/products?tab=wh
